@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bilge Adam Sınav Sistemi Giriş Ekranı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Assets/css/alertify.css" rel="stylesheet" />
    <script src="~/Assets/js/Bilgilendirme.js"></script>
    <script src="~/Assets/js/jquery.alertify.min.js"></script>
    <link rel="stylesheet" href="~/Assets/css/style.css" />
    <link rel="stylesheet" href="~/Assets/css/dark.css" />
    <link rel="stylesheet" href="~/Assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Assets/css/animate.min.css" />
    <link rel="stylesheet" href="~/Assets/css/sliders.css" />
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/Assets/css/icon-fonts.css" />

    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kalam:700,400' rel='stylesheet' type='text/css'>
    <script src="js/modernizr.js"></script>

    <!-- Windows 8: see http://msdn.microsoft.com/en-us/library/ie/dn255024%28v=vs.85%29.aspx for details -->

</head>
<body class="preloader2 dark_sup_menu light_header">
    <div class="container">

        <div id="preloader">
            <div class="spinner1">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <div class="spinner2">
                <div class="sk-dot1"></div>
                <div class="sk-dot2"></div>
            </div>
        </div>
        <div id="main_wrapper">
            <div class="container">
                <section class="content_section bg5">
                    <div class="content row_spacer centered clearfix">
                        <div class="main_title upper">
                            <br />
                            <img height="200" width="420" src="~/Assets/images/icons/bilgeadamlogo.png" />
                        </div>
                        <div class="main_title side_line centered upper">
                            <h2 style="font-family:Arial"><span class="line"></span>GİRİŞ YAP</h2>
                        </div>
                        @{
                            if (ViewBag.Message == false)
                            {
                                <script type="text/javascript">
                                    Bilgilendirme('Lütfen kullanıcı adı veya şifrenizi kontrol ediniz.', 'error')
                                </script>
                            }
                        }
                        <div class="my_col_half on_the_center centered clearfix">
                            @using (Html.BeginForm("Login", "Home"))
                            {
                                <div class="lfc_user_row"></div>
                                <div class="lfc_user_row">
                                    <label for="login_user_name">
                                        <span class="label_space">
                                            <span class="hm_field_name">E Mail veya kullanıcı adı</span>
                                            <span class="hm_requires_star">*</span>
                                        </span>
                                        <br />
                                        <input type="text" class="input_no_icon" style="width:386.85px" placeholder="Mail veya Kullanıcı Adı" onfocus="isBlurred=true;" onblur="isBlurred=false;" id="TextboxUserNameEmail" name="email" />
                                        <br />
                                    </label>
                                </div>
                                <div class="lfc_user_row">
                                    <label for="login_password">
                                        <span class="label_space">
                                            <span class="hm_field_name">Şifre</span>
                                            <span class="hm_requires_star">*</span>
                                        </span>
                                        <br />
                                        <input type="password" style="width:386.85px" class="input_no_icon" placeholder="Şifre" id="TextBoxSifre" name="password" />
                                        <br />
                                    </label>
                                </div>
                                <div class="lfc_user_row clearfix">
                                    <div class="my_col_third">
                                        <label for="rememberme">
                                            <span class="remember-box">
                                                <span id="mesaj">@ViewBag.Mesaj</span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="clearfix">
                                        <button type="submit" name="sd" id="ButtonGirisYap" class="send_button upper centered" style="width:200px">
                                            Giriş Yap
                                        </button>
                                        @*<input type="button" value="Giriş Yap" name="sd" id="ButtonGirisYap" class="send_button upper centered" style="width:200px" />*@

                                    </div>
                                </div>
                                <b class="lfc_forget_pass" href="#">Bilge Adam 2016</b>
                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <a href="#" class="hm_go_top">Yukarı</a>
    <script src="~/Assets/js/jquery.js" type="text/javascript"></script>
    <script src="~/Assets/js/plugins.js" type="text/javascript"></script>
    <script src="~/Assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Assets/js/wobbly-min.js" type="text/javascript"></script>
    <script src="~/Assets/js/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="~/Assets/js/functions.js"></script>

    <script type="text/javascript">
        function Hata() {
            alertify.log('<strong>Kullanıcı Adı veya Şifreniz Hatalı.</strong>', 'error');
        }
        function Blocked() {
            alertify.log('<strong>Bu kullanıcı AKTİF değildir.</strong>', 'error');
        }
    </script>
</body>
</html>
