@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bilge Adam Sınav Sistemi Giriş Ekranı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Assets/css/alertify.css" rel="stylesheet" />
    <script src="~/Assets/js/Bilgilendirme.js"></script>
    <script src="~/Assets/js/jquery.alertify.min.js"></script>
    <link rel="stylesheet" href="~/Assets/css/style.css" />
    <link rel="stylesheet" href="~/Assets/css/dark.css" />
    <link rel="stylesheet" href="~/Assets/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Assets/css/animate.min.css" />
    <link rel="stylesheet" href="~/Assets/css/sliders.css" />
    <link rel="stylesheet" href="~/Assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="~/Assets/css/icon-fonts.css" />


    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Kalam:700,400' rel='stylesheet' type='text/css'>
    <script src="js/modernizr.js"></script>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="~/Assets/css/login.css" rel="stylesheet" />
    <script src="~/Assets/js/login.js"></script>

</head>
<body>
    @*<div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="wrap">
                        <p class="form-title">
                            Bilge Adam

                        </p>
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "login" }))
                        {
                            <input type="text" name="email" placeholder="Kullanıcı Adı" />
                            <input type="password" name="password" placeholder="Şifre" />
                            <input type="submit" value="Giriş Yapınız" class="btn btn-success btn-sm" />
                        }
                    </div>
                </div>
            </div>
            <div class="posted-by">Bilge Adam 2016</div>
        </div>*@

    <div class="container">

        <div id="login-box">
            <div class="logo">
                <img src="~/Assets/images/Bilge Adam Akademi Logo RGB-01.png" class="img img-responsive center-block" />
                <h1 class="logo-caption"><span class="tweak">K</span>ullanıcı <span class="tweak">G</span>irişi</h1>
            </div><!-- /.logo -->
            <form action="/Home/Login" method="post">
                <div class="controls">
                    <input type="text" name="email" placeholder="Kullanıcı Adı" class="form-control" />
                    <input type="password" name="password" placeholder="Şifre " class="form-control" />
                    <button type="submit" class="btn btn-default btn-block btn-custom">Giriş Yap</button>
                </div><!-- /.controls -->
            </form>
        </div><!-- /#login-box -->

    </div><!-- /.container -->
    <div id="particles-js"></div>
    <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>-->
</body>
</html>