
@{
    ViewBag.Title = "Bilge Adam Sınav Sistemi";
    ViewBag.UstBaslik = "Bilge Adam Sınav Sistemi";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<script type="text/javascript">
    window.onload = function () {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Home/GetChartData",
            success: function (data) {
                $("#canvas_chart5").appear(function () {
                    var ctx5 = $("#canvas_chart5").get(0).getContext("2d");
                    window.myPolarArea = new Chart(ctx5).PolarArea(data, { responsive: true });
                });
            }
        });

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/Home/GetChartDataUser",
            success: function (data) {
                $("#canvas_chart2").appear(function () {
                    var ctx2 = $("#canvas_chart2").get(0).getContext("2d");
                    window.myPie = new Chart(ctx2).Pie(data, { responsive: true });
                });
            }
        });

        $.ajax({
            type: "GET", dataType: "json",
            url: "/Home/GetData",
            success: function (data) {
                var barChartData = {
                    labels: data.Trainer,
                    datasets: [
                        {
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: data.Count
                            //test
                        },
                    ]
                }

                $("#canvas_chart1").appear(function () {
                    var ctx = $("#canvas_chart1").get(0).getContext("2d");
                    window.myBar = new Chart(ctx).Bar(barChartData, { responsive: true });
                });

            }
        })

        $.ajax({
            type: "GET", dataType: "json",
            url: "/Home/GetClassData",
            success: function (data) {
                var barChartData = {
                    labels: data.Class,
                    datasets: [
                        {
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: data.Count
                        },
                    ]
                }

                $("#canvas_chart1").appear(function () {
                    var ctx = $("#canvas_chart4").get(0).getContext("2d");
                    window.myBar = new Chart(ctx).Bar(barChartData, { responsive: true });
                });
            }
        })

        $.ajax({
            type: "GET", dataType: "json",
            url: "/Home/GetFullData",
            success: function (data) {
                var barChartData = {
                    labels: data.Class,
                    datasets: [
                        {
                            fillColor: "rgba(220,220,220,0.5)",
                            strokeColor: "rgba(220,220,220,0.8)",
                            highlightFill: "rgba(220,220,220,0.75)",
                            highlightStroke: "rgba(220,220,220,1)",
                            data: data.Count
                        },
                    ]
                }

                $("#canvas_chart1").appear(function () {
                    var ctx = $("#canvas_chart10").get(0).getContext("2d");
                    window.myBar = new Chart(ctx).Bar(barChartData, { responsive: true });
                });
            }
        })
    }


</script>

@*<section class="content_section">
        <div class="content_spacer">

            <div class="col-lg-12">
                <div class="col-md-4">
                    <h2 class="title1 upper centered">SORU HAVUZU</h2>
                    <span class="spacer30"></span>
                    <canvas id="canvas_chart5"></canvas>
                </div>
                <div class="col-md-4">
                    <h2 class="title1 upper centered"> Soru Ekleme Oranları</h2>
                    <span class="spacer30"></span>
                    <canvas id="canvas_chart1"></canvas>
                </div>
                <div class="col-md-4">
                    <h2 class="title1 upper centered">Kullanıcılar</h2>
                    <span class="spacer30"></span>
                    <canvas id="canvas_chart2"></canvas>
                </div>
            </div>
            <br />
            <br />
            <div class="spacer40"></div>
            <div class="spacer40"></div>
            <div class="spacer40"></div>
            <br />
            <div class="col-lg-12">

                <div class="col-md-4">
                    <h2 class="title1 upper centered">Sınıf BAsARI Durumları</h2>
                    <span class="spacer30"></span>
                    <canvas id="canvas_chart4"></canvas>
                </div>
                <div class="col-md-4">
                    <h2 class="title1 upper centered">Genel BAsARI Durumları</h2>
                    <span class="spacer30"></span>
                    <canvas id="canvas_chart10"></canvas>
                </div>
                <div class="col-md-4">
                    </div>
                </div>

            </div>
    </section>*@


<section class="content_section">
    <div class="content_spacer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="padding:16px;border-color:#1B0000;"><h2 class="panel-title"> SORU HAVUZU</h2></div>
                        <div class="panel-body" style="background-color:#f6f6f6">
                            @*<h2 class="title1 upper centered">SORU HAVUZU</h2>*@
                            <span class="spacer30"></span>
                            <canvas id="canvas_chart5"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="padding:16px; border-color:#1B0000;">
                            <h2 class="panel-title">Soru Ekleme Oranları</h2>
                        </div>
                        <div class="panel-body" style="background-color:#f6f6f6">
                            @* <h2 class="title1 upper centered"> Soru Ekleme Oranları</h2>*@
                            <span class="spacer30"></span>
                            <canvas id="canvas_chart1"></canvas>
                        </div>
                    </div>
                </div>

            @*<br />
            <br />
            <div class="spacer40"></div>
            <div class="spacer40"></div>
            <div class="spacer40"></div>
            <br />*@

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="padding:16px; border-color:#1B0000;">
                            <h1 class="panel-title">Kullanıcılar</h1>
                        </div>
                        <div class="panel-body">
                            @*<h2 class="title1 upper centered"> Soru Ekleme Oranları</h2>*@
                            <span class="spacer30"></span>
                            <canvas id="canvas_chart2"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="padding:16px; border-color:#1B0000;">
                            <h2 class="panel-title">SINIF BAŞARI DURUMLARI</h2>
                        </div>
                        <div class="panel-body">
                            @*<h2 class="title1 upper centered"> Soru Ekleme Oranları</h2>*@
                            <span class="spacer30"></span>
                            <canvas id="canvas_chart4"></canvas>
                        </div>
                    </div>
                </div>

            @*<br />
            <br />
            <div class="spacer40"></div>
            <div class="spacer40"></div>
            <div class="spacer40"></div>
            <br />*@

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="padding:16px; border-color:#1B0000;">
                            <h2 class="panel-title">GENEL BAŞARI DURUMU</h2>
                        </div>
                        <div class="panel-body">
                            @*<h2 class="title1 upper centered"> Soru Ekleme Oranları</h2>*@
                            <span class="spacer30"></span>
                            <canvas id="canvas_chart10"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</section>