
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        var url = '@Url.Action("Index", "Question")';
        window.location.href = url;
    };
</script>
<h2>Delete</h2>

