<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Bilge Adam | Sınav</title>

<!--Bootstrap-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/npm.js"></script>
<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
  
<!--Kampus Css-->
<link rel="stylesheet" type="text/css" href="assets/css/bakampus.css">
  
<!--Google Font Source Sans Pro-->
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>

<div class="container-fluid">
    	<!--Header Starts-->
        <header>
            <nav class="navbar main-navbar">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kampusNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#"><img src="assets/images/bakampus-logo.png"></a>
                </div>
                <div class="collapse navbar-collapse" id="kampusNavbar">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="nav-green">
                          <a href="#">
                              <span class="menu-element"><img src="assets/images/education-icon.png" width="51" height="52"><br>GEÇMİŞ SINAVLARIM</span> <span class="hover-border hover-green"></span>
                          </a>
                      </li>

                    <li class="nav-purple ogrenciadi"><a href="#"><span class="menu-element"><img src="assets/images/user-icon.png" width="50" height="53"><br>AYETULLAH AKYÜZ</span><span class="hover-border hover-purple"></span></a></li>

                  </ul>
                </div>
              </div>
            </nav>
        </header><!--Header Ends-->
 </div>       
 
    <div class="container-fluid content"><!--Content Starts-->
    <div class="container-fluid banner">
    	<div class="container banner-heading">
        <h1 class="sayfa-baslik">Bilge Adam Sınav Sistemi - Sınavlarım</h1>
        </div>
    </div>
    	<div class="container">
        	 <div class="row content-items">
               <div class="col-sm-3 single-item" id="item-blue">
                	<div class="item-content">
                    	<img class="item-icon" src="assets/images/item-projeler.png" height="80">
                       <h3 class="item-heading">SINAV - 1</h3>
                      <h4 class="sinav-durumu">Sınav Durumu : <span class="durum-sonuc">Girildi</span><br>Not:<span class="not"> 95</span></h4>
                        
                 </div>
                    <div class="overlay-buton overlay-blue"></div>
                    <div class="plus-buton"></div>
                </div>
       <div class="col-sm-3 single-item" id="item-blue">
                	<div class="item-content">
                    	<img class="item-icon" src="assets/images/item-projeler.png" height="80">
                        <h3 class="item-heading">SINAV - 2</h3>
                        <h4 class="sinav-durumu">Sınav Durumu : <span class="durum-sonuc">Devam Ediyor</span><br><span class="sure">Süre: 2 Saat 15 Dakika</span></h4>
                    </div>
                    <div class="overlay-buton overlay-blue"></div>
                    <div class="plus-buton"></div>
                </div>        
                	
       <div class="col-sm-3 single-item" id="item-blue">
                	<div class="item-content">
                    	<img class="item-icon" src="assets/images/item-projeler.png"  height="80">
                        <h3 class="item-heading">SINAV - 3</h3>
                         <h4 class="sinav-durumu">Sınav Durumu : <span class="durum-sonuc">Başlamadı</h4>
                    </div>
                    <div class="overlay-buton overlay-blue"></div>
                    <div class="plus-buton"></div>
                </div>         
         <div class="col-sm-3 single-item" id="item-blue">
                	<div class="item-content">
                    	<img class="item-icon" src="assets/images/item-projeler.png" height="80">
                        <h3 class="item-heading">SINAV - 4</h3>
                        <h4 class="sinav-durumu">Sınav Durumu : <span class="durum-sonuc">Başlamadı</h4>

           </div>
                    <div class="overlay-buton overlay-blue"></div>
                    <div class="plus-buton"></div>
                </div>       	
           </div><!--Content Items Ends-->
    	</div>
	</div><!--Content Ends-->
    
    <div class="container-fluid footer">
    	<footer>
        	<div class="container">
                <nav class="navbar navbar-social">
                	<div class="navbar-header">
                    	<a class="navbar-brand" href="#"><img src="assets/images/footer-logo.png" width="232" height="64"></a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                    	<li><a href="tel:4443330"><img src="assets/images/icon-phone.png" height="27"></a></li>
                        <li><a href="#"><img src="assets/images/icon-footer-linkedin.png" width="27" height="27"></a></li>
                        <li><a href="#"><img src="assets/images/icon-footer-facebook.png" width="27" height="27"></a></li>
                        <li><a href="#"><img src="assets/images/icon-footer-twitter.png" width="27" height="27"></a></li>
                        <li><a href="#"><img src="assets/images/icon-footer-instagram.png" width="27" height="27"></a></li>
                        
                    </ul>
                </nav>
            </div>    
        </footer>
    </div>
</body>
</html>
